<div class="update-thumbnail {{ update.thumbnailType }}" style="background-image: url({{ update.thumbnailImage|first.url('updateBackground') }})">
  <a href="{{ update.url }}">
    <div class="label">{{ update.thumbnailLabel ? update.thumbnailLabel : update.title }}</div>
  </a>
</div>